<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <head>
    <title>Ability Poro</title>
  </head>
  <body>
    <video id="bgVideo" autoplay loop>
      <source src=" " type="video/webm" id="source">
    </video>

    <script type="text/javascript">
        function poro() {
            var poros = ["Astro", "Dragon", "Gentle", "Mecha", "Shadow"];
            poro = poros[Math.floor(Math.random() * poros.length)];

            var video = document.getElementById('bgVideo');
            src = "http://teamcomp.me/static/webms/" + poro + ".webm";
            console.log(src);
            video.src = src;
        }
        window.onload = poro();
    </script>

    <div class="header">
      <a style="margin-left:30px;text-decoration:none;font-size: 4.4em;" href="{{ url_for('index') }}">Ability Poro</a>
      <a style="margin-left:50px;text-decoration:none;font-size: 2.0em;" href="{{ url_for('champions') }}">Champions</a>
      <a style="margin-left:30px;text-decoration:none;font-size: 2.0em;" href="{{ url_for('items') }}">Items</a>
    </div>

    <div class="page">
      <table>
        <tr>
          <th>Champions</th>
          <th>Pick Rate Patch 5.11</th>
          <th>Pick Rate Patch 5.14</th>
          <th>Win Rate Patch 5.11</th>
          <th>Win Rate Patch 5.14</th>
          <th>Avg KDA Patch 5.11</th>
          <th>Avg KDA Patch 5.14</th>
        </tr>
      {% for i in range(champions | length) %}
        {% if i%2==0 %}
        <tr class="even">
        {% else %}
        <tr>
        {% endif %}
          <td>
            {% if champions[i]=="Wukong" %}
              <img style="float:left" src={{ "http://ddragon.leagueoflegends.com/cdn/5.14.1/img/champion/MonkeyKing.png"}}  width="30" height="30" alt="Wukong" title="Wukong">
            {% else %}
              <img style="float:left" src={{ "http://ddragon.leagueoflegends.com/cdn/5.14.1/img/champion/{}.png".format(champions[i]) }}  width="30" height="30" alt={{ champions[i] }} title={{ champions[i] }}>
            {% endif %}
            <a style="line-height:30px;margin-left:10px;" href="{{ url_for('show_champion_details', championName=champions[i]) }}">{{ champions[i] }}</a>
          </td>
          <td>
            {% if not champions[i]=="TahmKench" %}
              {% set pickBefore=(before["{}".format(championIds[champions[i]])]['wins'] + before["{}".format(championIds[champions[i]])]['losses'])/2000000 * 100 %}
              {{ "{0:.2f}%".format(pickBefore) }}
            {% else %}
              {% set pickBefore=0 %}
            {% endif %}
          </td>
          <td>
            {% set pickAfter=(after["{}".format(championIds[champions[i]])]['wins'] + after["{}".format(championIds[champions[i]])]['losses'])/2000000 * 100 %}
            {% if pickBefore < pickAfter %}
              <div class="up"></div>
            {% else %}
              <div class="down"></div>
            {% endif %}
            {{ "{0:.2f}%".format(pickAfter) }}
          </td>
          <td>
            {% if not champions[i]=="TahmKench" %}
              {% set winBefore=(before["{}".format(championIds[champions[i]])]['wins'])/(before["{}".format(championIds[champions[i]])]['wins'] + before["{}".format(championIds[champions[i]])]['losses']) * 100 %}
              {{ "{0:.2f}%".format(winBefore) }}
            {% else %}
              {% set winBefore=0 %}
            {% endif %}
          </td>
          <td>
            {% set winAfter=(after["{}".format(championIds[champions[i]])]['wins'])/(after["{}".format(championIds[champions[i]])]['wins'] + after["{}".format(championIds[champions[i]])]['losses']) * 100 %}
            {% if winBefore < winAfter %}
              <div class="up"></div>
            {% else %}
              <div class="down"></div>
            {% endif %}
            {{ "{0:.2f}%".format(winAfter) }}
          </td>
          <td>
            {% if not champions[i]=="TahmKench" %}
              {{ "{:.1f} / {:.1f} / {:.1f}".format((before["{}".format(championIds[champions[i]])]['kills']/(before["{}".format(championIds[champions[i]])]['wins'] + before["{}".format(championIds[champions[i]])]['losses'])), (before["{}".format(championIds[champions[i]])]['deaths']/(before["{}".format(championIds[champions[i]])]['wins'] + before["{}".format(championIds[champions[i]])]['losses'])), (before["{}".format(championIds[champions[i]])]['assists']/(before["{}".format(championIds[champions[i]])]['wins'] + before["{}".format(championIds[champions[i]])]['losses']))) }}
              <br>
              {% set kdaBefore=(before["{}".format(championIds[champions[i]])]['kills'] + before["{}".format(championIds[champions[i]])]['assists'])/before["{}".format(championIds[champions[i]])]['deaths'] %}
              {{ "Average {:.2f}:1 KDA".format(kdaBefore) }}
            {% else %}
              {% set kdaBefore=0 %}
            {% endif %}
          </td>
          <td>
            {{ "{:.1f} / {:.1f} / {:.1f}".format((after["{}".format(championIds[champions[i]])]['kills']/(after["{}".format(championIds[champions[i]])]['wins'] + after["{}".format(championIds[champions[i]])]['losses'])), (after["{}".format(championIds[champions[i]])]['deaths']/(after["{}".format(championIds[champions[i]])]['wins'] + after["{}".format(championIds[champions[i]])]['losses'])), (after["{}".format(championIds[champions[i]])]['assists']/(after["{}".format(championIds[champions[i]])]['wins'] + after["{}".format(championIds[champions[i]])]['losses']))) }}
            <br>
            {% set kdaAfter=(after["{}".format(championIds[champions[i]])]['kills'] + after["{}".format(championIds[champions[i]])]['assists'])/after["{}".format(championIds[champions[i]])]['deaths'] %}
            {% if kdaBefore < kdaAfter %}
              <div class="up"></div>
            {% else %}
              <div class="down"></div>
            {% endif %}
            {{ "Average {:.2f}:1 KDA".format(kdaAfter) }}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
    <p class="footnote">Ability Poro isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
  </body>
</html>
