<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <head>
    <title>Ability Poro</title>
  </head>
  <body>
    <video id="bgVideo" autoplay loop>
      <source src=" " type="video/webm" id="source">
    </video>

    <script type="text/javascript">
        function poro() {
            var poros = ["Astro", "Dragon", "Gentle", "Mecha", "Shadow"];
            poro = poros[Math.floor(Math.random() * poros.length)];

            var video = document.getElementById('bgVideo');
            src = "http://teamcomp.me/static/webms/" + poro + ".webm";
            console.log(src);
            video.src = src;
        }
        window.onload = poro();
    </script>

    <div class="header">
      <a style="margin-left:30px;text-decoration:none;font-size: 4.4em;" href="{{ url_for('index') }}">Ability Poro</a>
      <a style="margin-left:50px;text-decoration:none;font-size: 2.0em;" href="{{ url_for('champions') }}">Champions</a>
      <a style="margin-left:30px;text-decoration:none;font-size: 2.0em;" href="{{ url_for('items') }}">Items</a>
    </div>

    <div class="page" style="background-color:rgba(0,0,0,0.7)">
      <h2>About</h2>
      <div class="text">
        My submission for the Riot Games API competition 2.0, AbilityPoro, consists primarily of tables demonstrating the changes caused by the AP item changes in patch 5.13.
      </div>
      <h2>Pages</h2>
      <div class="text">
        The first table can be found on the Champions page. This contains the Pick Rate, Win Rate and Average KDA of each champion, both before the AP item changes, and after.
        <br>
        The Pick Rate represents how often that particular champion was played during the patch, a period of roughly 2 weeks.
        <br>
        The Win Rate represents how often the champion won a game it was played in. (During games of Normal queue a champion may appear on both teams, this is counted as both a win and a loss.)
        <br>
        The Average KDA is calculated by adding the total number of kills and assists made by the champion then devided by the total number of deaths.
        <br>
        As well as listing the values for Pick Rate, Win Rate and Average KDA for each patch, indicators are included to easily determine whether a value has gone up or down after the AP item changes.
        <br>
        By clicking on a champions name, more detailed information can be found on their own page regarding the items that champion purchases.
      </div>
      <div class="text">
        Extra information can be found on each champions individual page. This information pertains to the items purchased by that champion.
        <br>
        The Most Popular Full Builds lists the full build that a champion is most likely to have.
        <br>
        The Most Popular Items shows what items a champion is likely to purchase irregardless of what else they have bought. It also shows how likely they are to purchase that item.
      </div>
      <div class="text">
        The Items page also includes a table, this table contains similar data to the Champions page however there are some key differences.
        <br>
        Firstly the Purchase Rate. As an item can be purchased by multiple champions in one game on either team, this value is based on how likely any champion is to have purchased it.
        <br>
        Secondly the Win Rate. Any particular item can appear multiple times in one game, and on both teams. Therefore when there are multiples of the item in a game, only one is counted, and if the item appears on both the winning and losing sides, only the winner is counted.
        <br>
        The final columns show the champions that purchased the item the most and what percentage of all purchases they represent.
      </div>
      <h2>Conclusions</h2>
      <div class="text">
        Champions
        <br>
        There is not much difference in all champions Pick Rate. Some have quite a large difference, Ashe and Ekko have the largest change, though this is largely unrelated to the AP item changes. (Ashe rework, Ekko release).
        <br>
        Most champions that primarily purchase the AP items that have been changed have actually seen a decrease in Pick Rate after the changes. A few however have seen a large increase in Pick Rate, these champions are typically seen as the better users of the items that were changed, (Azir, Brand, etc.). Most champions that purchase the items that were changed have seen an increase in Win Rate and KDA.
      </div>
      <div class="text">
        Items
        <br>
        Although the AP item changes were very significant, most people seem to have continued to buy exactly the same items, unwilling to experiment with their builds.
        <br>
        There are some changes in the items being purchased by players. Most items that provide Ability Power have seen a decrease in purchase rates, there has also been a decrease in the amount of resistances being purchased. Players seem to have decided that the changes overall were nerfs to the power of Mages.

        <br>
        <br>
        (Of note, a surprising number of players are not using their "The Black Spear" as Kalista).
      </div>
      <div class="text">
        These are the conclusions that I have gathered from the provided data.
        <br>
        Thank you for your time reading, I hope you can find this website useful.
        <br>
        Dragons_Ire
      </div>
    </div>

  </body>
</html>
