<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <head>
    <title>Ability Poro</title>
  </head>
  <body>
    {% set poros = ['Astro', 'Dragon', 'Gentle', 'Mecha', 'Shadow'] %}
    {% set poro = poros | random %}
    <video id="bgVideo" autoplay loop>
      <source src="{{ url_for('static', filename="webms/{}.webm".format(poro)) }}" type="video/webm">
    </video>

    <div class="header">
    <h1>Ability Poro</h1>
    </div>

    <div class="page">
      <table>
        <tr>
          <th>Items</th>
          <th>Purchase Rate</th>
          <th>Win Rate</th>
          <th>Most Bought By</th>
          <th>Purchase Rate</th>
          <th>Win Rate</th>
          <th>Most Bought By</th>
        </tr>
      {% for i in range(itemNames | length) %}
        {% if i%2==0 %}
        <tr class="even">
        {% else %}
        <tr>
        {% endif %}
          <td>
            <img style="float:left" src={{ "http://ddragon.leagueoflegends.com/cdn/5.11.1/img/item/{}.png".format(itemDict[itemNames[i]]) }} width="30" height="30" alt={{ itemNames[i] }} title={{ itemNames[i] }}>
            <a style="line-height:30px;margin-left:20px">{{ itemNames[i] }}</a>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
    <p class="footnote">Ability Poro isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
  </body>
</html>
